automation/Resume ats telegram bot.json
{
  "name": "Resume ats telegram bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1600,
        0
      ],
      "id": "2afaf212-82e9-4a04-bc19-b4ed1c6055ce",
      "name": "Telegram Trigger",
      "webhookId": "66b496b4-f907-469e-ae44-9442ae18cdf0",
      "credentials": {
        "telegramApi": {
          "id": "UFZFOGt6MuXU6imq",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        -1376,
        0
      ],
      "id": "68695ebd-2c1d-4900-93d9-4cfcc8be36fd",
      "name": "Compression"
    },
    {
      "parameters": {
        "fieldToSplitOut": "=$binary",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1136,
        0
      ],
      "id": "44e673b1-e08e-49c1-b631-1bb241c1ec2b",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1ec012e6-96d4-4156-a40f-bfeaf18c6bb6",
              "leftValue": "={{ $binary[$binary.keys()[0]].mimeType }}",
              "rightValue": "=text/plain",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -912,
        0
      ],
      "id": "01797d66-5fe2-40ad-8078-ee595160abf7",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Resume should be in pdf format",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -848,
        224
      ],
      "id": "3cd4c269-cf7d-49dd-836b-b836f2cae665",
      "name": "Send a text message",
      "webhookId": "174717cd-e22d-4005-836c-277cdb097d43",
      "credentials": {
        "telegramApi": {
          "id": "UFZFOGt6MuXU6imq",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -608,
        -160
      ],
      "id": "9163043b-cf44-4854-b4ef-f0200239a4b7",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Below is the extracted text from a résumé PDF. Analyze it and return only the ATS score out of 100.\n\nResume Text:\n{{ $json.text }}\n\nReturn format:\n{\"ats_score\": <number>}\n",
        "options": {
          "systemMessage": "You are an ATS evaluation assistant. Your role is to analyze résumé text and calculate an ATS score out of 100. The score must reflect keyword relevance, skills match, formatting, clarity, and structure. Always output only the final score inside a JSON object. Do not include explanations.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -464,
        144
      ],
      "id": "4b01d118-4ad3-40fb-843d-a382a6f112b7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -496,
        288
      ],
      "id": "04a3ef64-fc35-4ed3-a32a-b13c6c7a7b76",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "4ZN03JNxXSwdRavc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "={{$binary.keys()[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -416,
        -80
      ],
      "id": "eece99f1-c5ae-4212-ad71-2f9e62b0aa6c",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -112,
        144
      ],
      "id": "96cc7dd5-2569-49a0-b4d0-da5d5c7da181",
      "name": "Send a text message1",
      "webhookId": "635396e4-5639-407c-b8f5-6616f3efa949",
      "credentials": {
        "telegramApi": {
          "id": "UFZFOGt6MuXU6imq",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -160,
        352
      ],
      "id": "98ffa973-c959-4de3-9679-042f5435b2d6",
      "name": "Wait",
      "webhookId": "87a53a81-c46d-40d2-85eb-e0b8948c196e"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Compression",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compression": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cbc19dbd-98aa-46d8-998b-e2319fe63f14",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "38c8fe0ca90e14ca43d751da199c97ff123f3e85f00b88fff4a53b4359f931ae"
  },
  "id": "9yV6Uj5JiHzFZz1r",
  "tags": []
}