automation/resume shortlisting (1).json
{
  "name": "resume shortlisting",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -928,
        288
      ],
      "id": "184067c0-8e37-4abb-81be-5bd52bf0939f",
      "name": "Telegram Trigger",
      "webhookId": "e8cf8d8f-75f3-4e62-bdcf-c36c8908548e",
      "credentials": {
        "telegramApi": {
          "id": "UFZFOGt6MuXU6imq",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c6cbd868-d869-40bf-9ef3-955983cb5765",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "hi",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "2623c181-12f5-4464-a592-033263c91f49",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "hello",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "c43e70a7-5415-44b8-afdd-7de549f5b053",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "hey",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -688,
        288
      ],
      "id": "9a714208-a430-4e48-8f5a-d25a60c5ba92",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "=hi  {{ $json.message.from.first_name }}\n\nupload a zip/pdf format resume to know the ats score",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -368,
        48
      ],
      "id": "67f3147c-264e-4ee9-8296-9bd2da331310",
      "name": "Send a text message",
      "webhookId": "23d4fdb5-eaf3-4537-b520-04f6dc641977",
      "credentials": {
        "telegramApi": {
          "id": "UFZFOGt6MuXU6imq",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.document.file_name }}",
                    "rightValue": ".zip",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    },
                    "id": "97b51bf2-a51c-4823-9e42-f6926cf7c016"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "zip"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bc9e47a3-2798-475b-8202-5277e6b91478",
                    "leftValue": "={{ $json.message.document.file_name }}",
                    "rightValue": ".pdf",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            }
          ]
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -560,
        528
      ],
      "id": "60086216-88a1-4a3c-8e48-978d9fc48edc",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -416,
        768
      ],
      "id": "09b62064-281a-422e-8c46-93f62ffd7d95",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Below is the extracted text from a résumé PDF. Analyze it and return only the ATS score out of 100.\n\nResume Text:\n{{ $json.text }}\n\nReturn format:\n{\"ats_score\":0,\n\"name\":\"\",\n\"email\":\"\",\n\"phone no\":0}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an ATS evaluation assistant. Your role is to analyze résumé text and calculate an ATS score out of 100. The score must reflect keyword relevance, skills match, formatting, clarity, and structure. Always output only the final score inside a JSON object. Do not include explanations.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -96,
        768
      ],
      "id": "652b361d-4cf6-44df-a652-1e589a1157d1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -96,
        1024
      ],
      "id": "51a0c9d5-fe76-4bfd-890d-2304c66a05c5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "4ZN03JNxXSwdRavc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"name\":\"pavan\",\n  \"email\":\"pavan@gmail.com\",\n  \"phone no\":1234455,\n  \"ats_score\":70\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        64,
        1008
      ],
      "id": "4cb29958-0023-41e7-9233-f01febd0e8db",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "24514580-cab2-42e6-baa8-89146650f1aa",
              "leftValue": "={{ $json.output.ats_score }}",
              "rightValue": 70,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        336,
        768
      ],
      "id": "25baa61f-14ee-4156-9572-28fc199a57c5",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1l5HSYBbEUzVnqTj5UCzcDlp5QwFc8KhiAp6fRXsk2Jk",
          "mode": "list",
          "cachedResultName": "resume shortlisting",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l5HSYBbEUzVnqTj5UCzcDlp5QwFc8KhiAp6fRXsk2Jk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "accepted",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l5HSYBbEUzVnqTj5UCzcDlp5QwFc8KhiAp6fRXsk2Jk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.output.name }}",
            "email": "={{ $json.output.email }}",
            "ats_score": "={{ $json.output.ats_score }}",
            "phone no": "={{ $json.output['phone no'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone no",
              "displayName": "phone no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ats_score",
              "displayName": "ats_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        544,
        688
      ],
      "id": "e728e2f4-6dc5-4974-8b99-6b0d4e255c7c",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "l7Ow8Yv6KSSoZNtd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1l5HSYBbEUzVnqTj5UCzcDlp5QwFc8KhiAp6fRXsk2Jk",
          "mode": "list",
          "cachedResultName": "resume shortlisting",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l5HSYBbEUzVnqTj5UCzcDlp5QwFc8KhiAp6fRXsk2Jk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1213950991,
          "mode": "list",
          "cachedResultName": "rejected",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l5HSYBbEUzVnqTj5UCzcDlp5QwFc8KhiAp6fRXsk2Jk/edit#gid=1213950991"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.output.name }}",
            "email": "={{ $json.output.email }}",
            "ats_score": "={{ $json.output.ats_score }}",
            "phone no": "={{ $json.output['phone no'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone no",
              "displayName": "phone no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ats_score",
              "displayName": "ats_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        544,
        912
      ],
      "id": "cf0c1614-225d-4a3a-af6d-0365dfe00b52",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "l7Ow8Yv6KSSoZNtd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "outputPrefix": "data"
      },
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        -384,
        272
      ],
      "id": "e390decf-dc52-4321-a7f0-50f50e024a6f",
      "name": "Compression"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        384,
        112
      ],
      "id": "3daa21b5-73d4-487c-a230-e7dcacbe6b9e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1ec012e6-96d4-4156-a40f-bfeaf18c6bb6",
              "leftValue": "={{ $binary[$binary.keys()[0]].mimeType }}",
              "rightValue": "=text/plain",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        48,
        272
      ],
      "id": "e8d7e30f-623d-4b79-be1d-c2fa7b176d44",
      "name": "If2"
    },
    {
      "parameters": {
        "fieldToSplitOut": "=$binary",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -192,
        272
      ],
      "id": "5fb6dd75-2caa-4b31-b64d-9af0bf50b8c6",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "={{ $binary.keys()[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        688,
        128
      ],
      "id": "592d3c14-c98f-475c-abf4-16b77b434911",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Below is the extracted text from a résumé PDF. Analyze it and return only the ATS score out of 100.\n\nResume Text:\n{{ $json.text }}\n\nReturn format:\n{\"ats_score\":0,\n\"name\":\"\",\n\"email\":\"\",\n\"phone no\":0}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an ATS evaluation assistant. Your role is to analyze résumé text and calculate an ATS score out of 100. The score must reflect keyword relevance, skills match, formatting, clarity, and structure. Always output only the final score inside a JSON object. Do not include explanations.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1056,
        64
      ],
      "id": "585f8bfd-63f7-4e47-add1-46271504ae5e",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1040,
        256
      ],
      "id": "0b36f8ee-4317-455c-9306-8008ac5e2ac2",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "4ZN03JNxXSwdRavc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"name\":\"pavan\",\n  \"email\":\"pavan@gmail.com\",\n  \"phone no\":1234455,\n  \"ats_score\":70\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1200,
        256
      ],
      "id": "5b4fc82a-c788-4886-b605-81a036c3df24",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "24514580-cab2-42e6-baa8-89146650f1aa",
              "leftValue": "={{ $json.output.ats_score }}",
              "rightValue": 70,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1424,
        64
      ],
      "id": "3ac72cbe-c870-4146-b4d4-2dc3a01a66ee",
      "name": "If3"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1l5HSYBbEUzVnqTj5UCzcDlp5QwFc8KhiAp6fRXsk2Jk",
          "mode": "list",
          "cachedResultName": "resume shortlisting",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l5HSYBbEUzVnqTj5UCzcDlp5QwFc8KhiAp6fRXsk2Jk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "accepted",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l5HSYBbEUzVnqTj5UCzcDlp5QwFc8KhiAp6fRXsk2Jk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.output.name }}",
            "email": "={{ $json.output.email }}",
            "ats_score": "={{ $json.output.ats_score }}",
            "phone no": "={{ $json.output['phone no'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone no",
              "displayName": "phone no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ats_score",
              "displayName": "ats_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1632,
        32
      ],
      "id": "be0f267c-557f-45e0-950c-5fb079cda5d3",
      "name": "Append row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "l7Ow8Yv6KSSoZNtd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1l5HSYBbEUzVnqTj5UCzcDlp5QwFc8KhiAp6fRXsk2Jk",
          "mode": "list",
          "cachedResultName": "resume shortlisting",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l5HSYBbEUzVnqTj5UCzcDlp5QwFc8KhiAp6fRXsk2Jk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1213950991,
          "mode": "list",
          "cachedResultName": "rejected",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l5HSYBbEUzVnqTj5UCzcDlp5QwFc8KhiAp6fRXsk2Jk/edit#gid=1213950991"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.output.name }}",
            "email": "={{ $json.output.email }}",
            "ats_score": "={{ $json.output.ats_score }}",
            "phone no": "={{ $json.output['phone no'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone no",
              "displayName": "phone no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ats_score",
              "displayName": "ats_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1632,
        224
      ],
      "id": "2a4e228e-9b56-49e8-a683-3b82d86de0d5",
      "name": "Append row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "l7Ow8Yv6KSSoZNtd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2128,
        160
      ],
      "id": "f9ab065f-2dd3-4778-b443-f01472dcbc20",
      "name": "Merge"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2048,
        352
      ],
      "id": "dd79c543-4ffe-407a-8c81-18a6d06c53da",
      "name": "Wait",
      "webhookId": "03c610a4-c312-43a0-8c3f-0165b222f7c1"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Application Update - Shortlisted For Next Steps",
        "emailType": "text",
        "message": "=Dear {{ $json.name }},\n\nThank you for applying for the [Position Name] role at [Company Name].After reviewing your resume, we are pleased to inform you that you have been shortlisted for the next stage of our selection process.\n\nOur team found your skills and experience to be a strong match for the role. We will share the next steps and scheduling details shortly.If you have any questions in the meantime, feel free to reach out.\n\nKind regards,\nPavan\nHR\nxyz solutions\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        784,
        688
      ],
      "id": "fff34dd6-e32c-4526-bb2b-1180fb476c91",
      "name": "Send a message",
      "webhookId": "c3bad929-2c62-412d-91ba-0a7bcc54222a",
      "credentials": {
        "gmailOAuth2": {
          "id": "7J7u93Os4pAvCTDg",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Application Update - Regarding Your Candidacy",
        "emailType": "text",
        "message": "=Dear {{ $json.name }},\n\nThank you for your interest in the [Position Name] role at [Company Name] and for taking the time to apply.\n\nAfter carefully reviewing your resume, we regret to inform you that you have not been shortlisted for further rounds at this time. While your background is valuable, we have decided to proceed with candidates whose experience more closely matches our current requirements.\n\nWe truly appreciate your effort and encourage you to apply for future openings that align with your profile.\n\nWishing you all the best in your career ahead.\n\nKind regards,\nPavan\nHR\nxyz solutions\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        800,
        912
      ],
      "id": "8dbfdc82-c4dd-45c8-b768-40baddaf6c1b",
      "name": "Send a message1",
      "webhookId": "c3bad929-2c62-412d-91ba-0a7bcc54222a",
      "credentials": {
        "gmailOAuth2": {
          "id": "7J7u93Os4pAvCTDg",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Application Update - Shortlisted For Next Steps",
        "emailType": "text",
        "message": "=Dear {{ $json.name }},\n\nThank you for applying for the [Position Name] role at [Company Name].After reviewing your resume, we are pleased to inform you that you have been shortlisted for the next stage of our selection process.\n\nOur team found your skills and experience to be a strong match for the role. We will share the next steps and scheduling details shortly.If you have any questions in the meantime, feel free to reach out.\n\nKind regards,\nPavan\nHR\nxyz solutions\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1856,
        -32
      ],
      "id": "c5579742-af04-4d52-8ab0-98e5455f4b64",
      "name": "Send a message2",
      "webhookId": "c3bad929-2c62-412d-91ba-0a7bcc54222a",
      "credentials": {
        "gmailOAuth2": {
          "id": "7J7u93Os4pAvCTDg",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Application Update - Regarding Your Candidacy",
        "emailType": "text",
        "message": "=Dear {{ $json.name }},\n\nThank you for your interest in the [Position Name] role at [Company Name] and for taking the time to apply.\n\nAfter carefully reviewing your resume, we regret to inform you that you have not been shortlisted for further rounds at this time. While your background is valuable, we have decided to proceed with candidates whose experience more closely matches our current requirements.\n\nWe truly appreciate your effort and encourage you to apply for future openings that align with your profile.\n\nWishing you all the best in your career ahead.\n\nKind regards,\nPavan\nHR\nxyz solutions\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1856,
        224
      ],
      "id": "8dc53e43-e42e-4b05-a529-14494028c869",
      "name": "Send a message3",
      "webhookId": "c3bad929-2c62-412d-91ba-0a7bcc54222a",
      "credentials": {
        "gmailOAuth2": {
          "id": "7J7u93Os4pAvCTDg",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "# greet message",
        "height": 224,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -608,
        0
      ],
      "typeVersion": 1,
      "id": "743833f7-f8d0-447b-80f0-086fe30ec063",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Zip file workflow\n",
        "height": 656,
        "width": 2336
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        -64
      ],
      "typeVersion": 1,
      "id": "2845eeeb-3fdb-405f-9d44-aae206a9b318",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Single pdf workflow\n",
        "height": 512,
        "width": 1568
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -512,
        656
      ],
      "typeVersion": 1,
      "id": "49bd29e3-1d66-4fb2-8646-a24cd6696a7f",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Compression",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compression": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Append row in sheet2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet2": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet3": {
      "main": [
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Send a message2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a581dfcd-9b8c-41fc-9e9d-aefe41e0c0f1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "38c8fe0ca90e14ca43d751da199c97ff123f3e85f00b88fff4a53b4359f931ae"
  },
  "id": "YzV8GbCrTZwrkFxL",
  "tags": []
}