automation/Student Assignment check (1).json
{
  "name": "Student Assignment check",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -336,
        -16
      ],
      "id": "ebf892c9-5466-4589-b8b9-d57b7ed6b419",
      "name": "Telegram Trigger",
      "webhookId": "80bacfa1-c1fd-4145-afd2-2aee052d4251",
      "credentials": {
        "telegramApi": {
          "id": "UFZFOGt6MuXU6imq",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "outputPrefix": "data_"
      },
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        -128,
        -16
      ],
      "id": "4517541b-c644-4252-8010-6d65bf871aa4",
      "name": "Compression"
    },
    {
      "parameters": {
        "fieldToSplitOut": "$binary",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        80,
        -16
      ],
      "id": "5676d6e8-7ca0-44e7-ac91-0fe066e347e3",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        288,
        -16
      ],
      "id": "95b02b0b-a12d-4c58-bb05-e67221f7a689",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "={{ $binary.keys()[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        496,
        80
      ],
      "id": "f47fdd05-7e19-4806-a6e5-e1ca2061ac66",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyse the following extracted text and evaluate the student's answers:\n\n{{ $json[\"text\"] }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AI grader.  \nYou will receive a text that contains multiple questions and the student's answers.  \nYour job:\n1. Identify each question and its corresponding answer.\n2. Check if the student's answer is correct.\n3. For every correct answer, award exactly 10 marks.\n4. Incorrect or missing answers get 0 marks.\n5. At the end, return the total marks.\n6. Output the result in clean JSON format only, with this structure:\n\n{\n  \"questions\": [\n    {\n      \"question\": \"\",\n      \"answer\": \"\",\n      \"is_correct\": true/false,\n      \"marks\": 0 or 10\n    }\n  ],\n  \"total_marks\": number\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        704,
        80
      ],
      "id": "4e3bb4da-18ff-4363-9997-100444834eba",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        688,
        256
      ],
      "id": "abf94f3d-6f6e-4c12-af8a-8bfdfe26deef",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "4ZN03JNxXSwdRavc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"questions\": [\n    {\n      \"question\": \"\",\n      \"answer\": \"\",\n      \"is_correct\": true,\n      \"marks\": 0\n    }\n  ],\n  \"total_marks\": 0\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        880,
        288
      ],
      "id": "1ce5a1c7-4f8c-4ac2-a34e-99aee267d697",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1056,
        80
      ],
      "id": "0c8d3153-4259-42bc-8c08-4e71c94b8138",
      "name": "Send a text message",
      "webhookId": "4db9c010-9136-46b9-9e64-5b87668ac55d",
      "credentials": {
        "telegramApi": {
          "id": "UFZFOGt6MuXU6imq",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1072,
        352
      ],
      "id": "7671041b-66f9-4dcf-9198-90d58ba2cd2c",
      "name": "Wait",
      "webhookId": "c16743b3-ca02-48cf-8664-e1442e7cab18"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Compression",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compression": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e2c502d9-c651-49db-bb8e-f679d7786ab4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "38c8fe0ca90e14ca43d751da199c97ff123f3e85f00b88fff4a53b4359f931ae"
  },
  "id": "Uijyl2TZwMGFnlBW",
  "tags": []
}