automation/translator
{
  "name": "webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d066aa84-b262-47b7-a711-54f1cc8b802b",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "8cd9617b-7da8-4ce0-a620-0df76d8f9560",
      "name": "Webhook",
      "webhookId": "d066aa84-b262-47b7-a711-54f1cc8b802b"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        208,
        176
      ],
      "id": "c72fab8c-c62e-4932-a5bd-7c9b021acf4c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "4ZN03JNxXSwdRavc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=translate the given below input according to the language given\ninput:{{ $json.body.input }}\nlanguage:{{ $json.body.language }}",
        "options": {
          "systemMessage": "act like a pro translator and translate the message according to the given language do not use more tokens"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "e8ae0d08-161b-478a-a4ba-8d692839ccbd",
      "name": "AI Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6355ec2e-7169-4691-9b7d-c504c5fe51d9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "38c8fe0ca90e14ca43d751da199c97ff123f3e85f00b88fff4a53b4359f931ae"
  },
  "id": "SeSPuuefL8XzEjAz",
  "tags": []
}
